
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
/* a global variable*/
a{
    display: block;
    margin: 10px 0;
    color: #fff;
    background-color: #000;
    padding: 8px 10px;
    width: fit-content;
    text-decoration: none;
}
/*For title*/
.post-box a{
    color: black;
    background-color: transparent;
    padding: 0 0;
    width: fit-content;
    text-decoration: underline;
}

/*for nav*/
nav{
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    padding: 0 10px;
}
nav .right-side{
    display: flex;
    align-items: center;
    gap: 6px;
}
.header{
    width: 60%;
    margin: 0 auto;
}
.title{
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.post-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.post-box{
    flex: 1;
}
.post-box-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.post-title{
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 800;
}
.post-des{
    font-size: 18px;
    margin-bottom: 8px;
}
.post-email{
    font-size: 15px;
    margin: 10px 0;
    font-weight: 600;
    display: inline-block;
    text-decoration: none !important;
}
/*for details*/
.details{
    width: 60%;
    margin: auto;
    padding: 20px 0;
}
.details-first{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.details-sec{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.details-sec .down-ic{
    font-size: 30px;
    align-items: flex-end;
}
.details-sec a{
    margin: 0 0;
    color: #000;
    background-color: transparent;
    padding: 0 0;
}
.details h1{
    font-size: 44px;
}
.details img{
    width: 100%;
    height: 30rem;
    object-fit: cover;
}
.details des{
    font-size: 21px;
}
.details hr{
    margin: 20px 0;
}

.tmp{
    margin: 4px 0;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: first baseline;
    gap: 10px;
}
.tmp i{
    font-size: 20px;
}

.action-div{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
/*home=> pagination*/
.paginate{
    display: flex;
    flex-direction: row-reverse; 
    align-items: center;
    justify-content: space-between;
}

.four{
    text-align: center;
    margin-top: 40px;
}
.four h1{
    font-size: 50px;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

label{
    display: block;
    font-size: 16px;
    margin-top: 10px;
}
input,textarea{
    font-size: 18px;
    padding: 4px 10px;
    width: 100%;
}
/*public-profile-icon vs profile-icon*/
.public-user{
    text-align: center;
    margin: 20px 0;
}
.public-user i,.own-user i{
    font-size: 5rem;
}
.own-user{
    display: flex;
    margin: 40px 0 20px 0;
    align-items: flex-end;
    justify-content: space-between;
}
.own-user .ic-email{
    text-align: center;
}
.own-user-right a{
    text-align: center;
    width: 100%;
}
.premium-username i{
    font-size: 18px;

}

/* for go back btn*/
.gb-btn{
    margin: 0 0;
}
/*for btn*/

button , .btn-full{
    margin: 10px 0;
    color: #fff;
    background-color: #000;
    font-size: 18px;
    padding: 8px 20px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;

}

.mx-auto{
    width: 40%;
    margin: auto auto;
}
.msg-box{
    text-align: center;
    color: red;
    border: 1px solid red;
    background-color: rgb(245, 163, 163);
    padding: 4px 10px;
}

/*premium */
.premium{
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.card{
    padding: 20px 20px;
    border: 2px solid black;
    border-radius: 8px;
   
}
.card h1{
    font-size: 27px;
    text-align: center;
    margin-bottom: 10px;
}
.card .checkout-btn {
    background-color: #000;
    color: #fff;
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
}
.card ul li{
    list-style: none;
    margin-bottom: 10px;
    font-size: 18px;

}
.checkout-btn{

}